@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.woff2), 
         url(../fonts/OpenSans-Bold.woff),
         url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-size: normal;
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.woff2), 
         url(../fonts/OpenSans-Regular.woff),
         url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-size: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: OpenSans-Regular, sans-serif;
    line-height: 1.2;
    margin: 0;
}

/*popup*/

div.hidden {
    display: none;
}

.popup {
    position: fixed;
    height: 100vh;  
    width: 100vw;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container {
    position: relative;
}

.close-button {
    display: block; 
    height: 18px;
    width: 18px;

    background-color: transparent;
    border: none;
    cursor: pointer;  

    position: absolute;
    top: -25px;
    right: 0; 

    background-image: url(../svg/form-x.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.feedback-form {
    padding: 47px 30px 55px;
    background-color: white;
    max-width: 390px;
    max-height: 100vh;
    overflow: auto;
}

.feedback-title {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 20px;
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
}

.feedback-title::after {
    content: "";
    display: block;
    position: relative;
    width: 66px;
    height: 3px;
    margin: 12px auto 28px;
    background-color: #e1d9bd;
}

.feedback-form-question {
    display: block;
    margin: 23px 0 8px;
    font-size: 13px;
}

.field {
    display: block;
    height: 47px;
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;
  
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-color: #f4f7f6;
    border-radius: 0;
    border: 1px solid #f4f7f6;
  
    font-family: inherit;
    font-size: 13px;
}

.field:focus {
    outline: none;
    border: 1px solid #b59f5b;    
}

.radio-button {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.radio-text:before {
    content: "";
    display: inline-block;
    background-image: url(../svg/form-empty-circle.svg);
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    background-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

.radio-button:checked ~ .radio-text:before {
    background-image: url(../svg/form-circle.svg);
}

.radio-text {
    font-size: 13px;
    margin-right: 15px;
}

select.field {
    background-image: url(../svg/form-arrows.svg);
    background-size: 10px auto;
    background-repeat: no-repeat;
    background-position: right 13px center;
    margin-bottom: 30px;
}

textarea.field {
    min-height: 131px;
    min-width: 100%;
    max-width: 100%;
    padding: 17px;
}

.feedback-button {
    display: inline-block;
    width: 100%;
    height: 47px;
    margin-top: 25px;
    background-color: #b59f5b;
    border: none;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}
    
.feedback-button:hover {
    background-color: #323232;
}

.header {
    background-image: url(../images/banner-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #666666;
    position: relative;
    z-index: 0;
    padding: 30px 0 125px;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.header-wrapper {
    max-width: 1200px;
    margin: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header-menu-list {
    display: flex;
}

.header-menu-item {
    font-size: 13px;
    text-transform: uppercase;
}

.header-menu-item:not(:first-child) {
    margin-left: 34px;
}

.header-menu-link {
    color: #ffffff;
}

.header-menu-link:hover {
    text-decoration: underline;
}

.header-title {
    max-width: 700px;
    text-align: center;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 45px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.65;
    margin: 105px auto 0;
}

/*trends*/

.trends {
    width: 100%;
    margin-top: 57px;
}

.trends-title {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 20px;
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;    
}

.trends-title::after {
    content: "";
    display: block;
    position: relative;
    width: 66px;
    height: 3px;
    margin: 12px auto 28px;
    background-color: #e1d9bd;
}

.trend-cards {
    display: flex;
    justify-content: space-between;
}

.trend-card-wrapper {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #eff6f1;
    position: relative;
    z-index: 0;

    display: flex;
    align-items: flex-end;

    width: 25%;
    min-height: 320px;
    padding: 15px 20px;
}

.trend-card-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
} 

.trend-card-one {
    background-image: url(../images/trend1.jpg);    
}

.trend-card-two {
    background-image: url(../images/trend2.jpg);
}

.trend-card-three {
    background-image: url(../images/trend3.jpg);
}

.trend-card-four {
    background-image: url(../images/trend4.jpg);
}

.trend-card {
    border: 3px solid hsla(45, 38%, 53%, .6);
    padding: 33px 33px;
    flex-grow: 1;
}

.trend-card-tags-link {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    color: #b59f5b;
    text-transform: uppercase;
    margin-right: 15px;
}

.trend-card-tags-link:hover {
    text-decoration: underline;
}

.trend-card-title {
    margin-top: 6px;
}

.trend-card-title-link {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 20px;
    color: #ffffff;
    line-height: 1.2;
    text-transform: uppercase;
}

.trend-card-title-link:hover {
    color: #b59f5b;
}

/*MAIN*/

.page-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 64px auto 0;
    padding: 0 15px;
}

.posts {
    max-width: 778px;
}

.post {
    display: flex;    
}

.post:not(:first-child) {
    margin-top: 60px;    
}

.post-img {
    min-width: 380px;
    object-fit: contain;
    object-position: center top;    
}

.post-text {
    margin-left: 30px;
}

.post-tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.post-tag:not(:last-child) {
    margin-right: 20px;
}

.post-tag-link {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    color: #b59f5b;
    text-transform: uppercase;
}

.post-tag-link:hover {
    text-decoration: underline;
}

.post-title-link {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 20px;
    color: #0f0d0e;
    line-height: 1.2;
    text-transform: uppercase;
}

.post-title-link:hover {
    color: #b59f5b;
}

.post-text-meta {
    margin-top: 25px;
    margin-bottom: 47px;
}

.post-time {
    font-size: 12px;
    color: #888888;
    margin-right: 10px;
}

.post-author {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 12px;
    color: #000000;
}
.post-about {
    font-size: 15px;
    color: #0f0d0e;
    line-height: 1.5;
}

.post-about > p:not(:first-child) {
    margin-top: 10px;
}

/*aside*/
.aside {
    min-width: 270px;
    max-width: 270px;
}

.new-posts {
    display: flex;
}

.new-posts-top {
    text-align: center;
    margin-bottom: 0px;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #0f0d0e;
    line-height: 1.28;
}

.new-posts-top::after {
    content: "";
    display: block;
    position: relative;
    margin: 12px auto 30px;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
}

.new {
    display: flex;
    margin-top: 17px;
}

.new-post {
    margin-left: 18px;
}

.new-post-date {
    font-size: 12px;
    text-decoration: none;
    color: #000000;
    opacity: 0.54;
    line-height: 0;
}

.new-post-name {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    line-height: 1.29;
    margin-top: 5px;
}

.new-post-name-link {
    text-decoration: none;
    color:#000000;
}

.new-post-name-link:hover {
    text-decoration: none;
    color:#b59f5b;
}

/*search*/
.search {
    margin-top: 55px;
    display: flex;
    max-width: 99%;
}

.search-group {
    flex-grow: 1;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.search-field {
    display: block;
    height: 47px;
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;    
  
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-color: #f4f7f6;
    border-radius: 0;
    border: 1px solid #f4f7f6;
  
    font-family: inherit;
    font-size: 13px;
}

.search-field:focus {
    outline: none;
    border: 1px solid #b59f5b;    
}

button {
    cursor: pointer;
}

.search-button {
    display: block;
    max-width: 47px;
    min-width: 47px;
    height: 47px;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 19px auto;
    background-position: center center;
    background-color: #b59f5b;   
    border: none;
}

.search-button:hover {
    background-color: #323232;
    border: none;
}

/*mailing*/
.aside-item-mailing {
    margin-top: 58px;
}

.mailing {
    display: flex;
    margin-top: 100px;
}

.mailing-top {
    text-align: center;
    margin-bottom: 0px;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #0f0d0e;
    line-height: 1.28;
}

.mailing-top::after {
    content: "";
    display: block;
    position: relative;
    margin: 10px auto 0;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
}

.mailing-field {
    margin-top: 25px;
    display: block;
    height: 47px;
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;
  
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-color: #f4f7f6;
    border-radius: 0;
    border: 1px solid #f4f7f6;
  
    font-family: inherit;
    font-size: 13px;
}

.mailing-field:focus {
    outline: none;
    border: 1px solid #b59f5b;    
}

.mailing-button {
    display: inline-block;
    margin-top: 20px;    
    width: 100%;
    height: 47px;
    background-color: #b59f5b;
    border: none;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.mailing-button:hover {
    background-color: #323232;
}

.aside-item-tags {
    margin-top: 58px;
}

.tags-top {
    text-align: center;
    margin-bottom: 0px;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #0f0d0e;
    line-height: 1.28;
}

.tags-top::after {
    content: "";
    display: block;
    position: relative;
    margin: 10px auto 18px;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
}

.tags-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.tag {
    margin-top: 6px;
    margin-right: 3px;
}

.tag-link {
    display: block;
    align-items: center;
    align-content: space-between;
    text-decoration: none;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 12px;
    border: 3px solid #f4f3f1;
    padding: 5px 11px;
}

.tag-link:hover {
    border: 3px solid #b59f5b;
}

.aside-item-themes {
    margin-top: 55px;
}

.themes-top {
    text-align: center;
    margin-bottom: 0px;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #0f0d0e;
    line-height: 1.28;
}

.themes-top::after {
    content: "";
    display: block;
    position: relative;
    margin: 12px auto 25px;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
}

.themes-list {
    list-style: none;
}

.theme {
    margin-top: 14px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eeeeee;
}

.theme-link {
    text-decoration: none;
    font-family: OpenSans-Bold, sans-serif;
    color: #000000;
    font-size: 14px;
}

.theme-link:hover {
    color: #b59f5b;
}

.theme-link-quantity {
    display: inline-block;
    vertical-align: top;
    color: #b59f5b;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 12px;
}

/*craft*/
.craft-wrapper {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 15px;
}

.craft-title {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 20px;
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
}

.craft-title::after {
    content: "";
    display: block;
    position: relative;
    width: 66px;
    height: 3px;
    margin: 12px auto 28px;
    background-color: #e1d9bd;
}

.craft-cards {
    padding: 0 23px;
    display: flex;
    justify-content: space-between;
}
  
.craft-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

picture {
    display: block;
    width: 100%;
    height: auto;
}

.craft-img {
  display: block;
  width: 100%;
  height: auto;
}

.craft-card {
    width: 300px;
    margin-top: -14px;
    padding-top: 29px;
    outline: 3px solid #b59f5b;
    outline-offset: 20px;
    flex-grow: 1;
}
  
.craft-card-title {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
  
.craft-card-text {
    margin-top: 2px;
    font-size: 15px;
    line-height: 1.47;
}
  
.craft-link {
    color: #b59f5b;
    text-decoration: none;
}
  
.craft-link:hover {
    text-decoration: underline;
}
  
.craft-card-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 24px;
    position: relative;
}
  
.price {
    font-family: OpenSans-Bold;
    font-size: 20px;
    margin-bottom: 4px;
}
  
.old-price {
    font-family: OpenSans-Bold;
    position: absolute;
    left: 0;
    bottom: 25px;
    font-size: 14px;
    text-decoration: line-through;
}
  
.shop-button {
    width: 140px;
    height: 47px;
    background-color: #b59f5b;
    border: none;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.shop-button:hover {
    background-color: #323232;
}

/*footer*/
.footer {
    margin-top: 64px;
    margin-bottom: 40px;
}

.footer-wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.footer-address {
    background-color:#f4f7f6;
    height: 80px;
    padding: 30px 0;
    margin-bottom: 75px;
}
  
.footer-list {
    list-style: none;
    display: flex;
    justify-content: center;  
}

.social:not(:first-child) {
    margin-left: 27px;
}

.social-dribbble {  
    background-image: url(../svg/001-dribbble.svg);
    display: block;
    width: 25px;
    height: 21px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}
  
.social-pinterest {
    background-image: url(../svg/002-pinterest.svg);
    display: block;
    width: 16px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}
  
.social-tumblr {
    background-image: url(../svg/003-tumblr.svg);
    display: block;
    width: 13px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}
  
.copyright {
    text-align: center;
}

.copyright-link {
    font-family: OpenSans-Bold, sans-serif;
    color: #999999;
    text-decoration: none;
    font-size: 12px;
}

@media (min-width: 1200px) {

    .menu-button {
        display: none;
    }

    .trend-card-wrapper:not(:first-child) {
        margin-left: 4px;
    }
}

@media (max-width: 1199px) {
    .close-button {
        height: 28px;
        width: 28px;
        top: -36px;
    }
    
    .radio-text:before {
        height: 25px;
        width: 25px;
        background-size: 25px;
    }
    
    .radio-text {
        margin-right: 30px;
    }
    
    .form-hint {
        margin: 25px 0 9px;
    }

    .header {
        margin-right: 0;
    }

    .header-menu-list {
        display: none;
    }

    .menu-button {
        border: none;
        width: 22px;
        height: 19px;
        background-color: transparent;
        position: relative;
        cursor: pointer;
    }

    .menu-button-label, .menu-button:before, .menu-button:after {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
    }
    
    .menu-button:before {
        content: "";
        position: absolute;
        top: 0;
    }
    
    .menu-button:after {
        content: "";
        position: absolute;
        bottom: 0;
    }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
    .trend-card-wrapper {
        flex-basis: 49%;
        flex-grow: 1;
        min-height: 247px;
        padding: 15px 19px;
        margin-top: 0; 
        margin-bottom: 4px;
    }
  
   .trend-card-wrapper:nth-child(2n+1) {
        margin-right: 4px;
    }
  
    .trend-cards {
        margin-top: 18px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {

    .header {
        padding-bottom: 112px;
        background-image: url("../images/banner-bg-tablet.jpg");
        padding-top: 45px;
    }
    
    .menu {
        padding: 0 35px;
    }
  
    .header-logo-img {
        width: 160px;
        margin-left: 0;
    }
  
    .header-title {
        max-width: 650px;
        margin-top: 85px;
        font-size: 40px;
        line-height: 1.4;
    }
    
    .trends {
        margin-top: 45px;
    }
       
    .trend-card {
        padding: 29px 29px;
    }
  
    .trends-title {
        font-size: 18px;
    }
  
    .trends-title:after {
        margin: 10px auto 28px auto;
    }
  
    .trend-card-title {
        font-size: 17px;
        line-height: 1.3;
    }

    .trend-card-title-link {
        font-size: 17px;
        line-height: 1.3;        
    }

    .page-wrapper {
        margin: 47px auto 0 auto;
        padding: 0 35px 0 35px;
    }
  
    .post {
        flex-direction: column;
    }
    
    .post-img {
        width: 100%;
        min-width: 0;
        /* max-width: 380px; */
    }
    
    .post-text {
        margin-left: 0;
        margin-top: 10px;
    }

    .post-tags {
        margin: 0;
    }
  
    .post-title {
        margin-top: 10px;
        font-size: 17px;
        line-height: 1.3;
    }

    .post-title-link {
        font-size: 17px;
        line-height: 1.3;
    }

    .post-text-meta {
        margin-bottom: 26px;
    }

    .post-author {
        margin-left: 10px;
    }

    .post-about-text {
        margin-top: 26px;
    }
  
    .aside {
        margin-left: 35px;
    }
    
    .new-posts-top {
        margin-bottom: 21px;
    }
    
    .craft-wrapper {
        padding: 0 35px;
        margin-top: 64px;
        margin-bottom: 50px;
    }
  
    .craft-cards {
        padding: 0;
        margin-top: 27px;
        flex-wrap: wrap;
    }
  
    .craft-card-wrapper {
        margin-top: 30px;
        padding: 0 23px 23px;
    }

    .craft-title {
        font-size: 18px;
    }
  
    .craft-card {
        width: 100%;
        min-width: 290px;
        margin-top: -15px;
    }
  
    .craft-card-title {
        font-size: 17px; 
    }
  
    .footer {
        margin-top: 20px;
    }

    .footer-wrapper {
        padding: 0 35px;
    }

    .footer-address {
        margin-bottom: 45px;
    }
    
    .copyright {
        margin-top: 20px;
    }
}

@media (min-width: 761px) and (max-width: 1199px) {
    
    .craft-card-wrapper {
        width: calc(50% - 10px);
    }
}

@media (max-width: 760px) {

    .craft-card-wrapper {
        width: 100%;
    }
  
    .craft {
        flex-direction: column;
    }
}

@media (max-width: 640px) and (orientation: portrait) {
  
    .trend-cards {
        flex-direction: column;
    }
  
    .trend-card-wrapper {
        width: 100%;
        min-height: 232px;
        margin-top: 3px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .trend-card-wrapper {
        flex-basis: 49%;
        flex-grow: 1;
        min-height: 247px;
        padding: 15px 19px;
        margin-top: 0; 
        margin-bottom: 4px;
    }
  
   .trend-card-wrapper:nth-child(2n+1) {
        margin-right: 4px;
    }
  
    .trend-cards {
        margin-top: 18px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (max-width: 640px) {

    .feedback-form {
        padding: 27px 24px 32px;
    }
  
    .close-button {
        top: -32px;
    }
  
    textarea.field {
        resize: none;
    }
  
    .popup-container {
        margin: 0 15px;
        max-width: 330px;
    }
  
    .header {
        background-image: url("../images/banner-mobile.jpg");
        padding-top: 30px;
        padding-bottom: 210px;
    }
  
    .menu {
        flex-direction: column-reverse;
    }
  
    .header-menu {
        align-self: flex-end;
    }
  
    .header-logo-img {
        width: 270px;
        margin: 175px 0 28px 0;
    }
  
    .header-title {
        padding: 0 30px;
        margin-top: 0;  
    }
  
    .header-title {
        font-size: 26px;
        line-height: 1.4;
    }

    .trends {
        margin-top: 40px;
    }

    .trends-title {
        font-size: 16px;
    }
  
    .trends-title:after {
        margin: 8px auto 20px;
    }

    .trend-card {
        padding: 26px 20px;
    }
  
    .trend-card-title {
        margin-top: 9px;
        font-size: 16px;
        line-height: 1.25;
    }

    .trend-card-title-link {
        font-size: 16px;
    }
  
    .page-wrapper, .post, .craft-cards {
        flex-direction: column;
    }
      
    .page-wrapper {
      margin-top: 45px;
    }

    .posts {
        width: 100%;
    }
  
    .post {
        border-bottom: 3px #eeeeee solid;
    }
  
    .post-img {
        min-width: 0;
    }
    
    .post-tags {
        margin-bottom: 8px;
    }
  
    .post-title {
        font-size: 16px;
        line-height: 1.25;
    }

    .post-title-link {
        font-size: 16px;
    }
  
    .post-text {
        margin-left: 0;
        margin-top: 10px;
    }
  
    .post-text-meta {
        margin-top: 12px;
        margin-bottom: 15px;
    }
  
    .post-about {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.4;
    }
  
    .post:nth-child(n+2) {
      margin-top: 35px;
    }
  
    .aside {
        min-width: 0px;
        max-width: 640px;
        margin-left: 0;
        margin-top: 39px;
    }
  
    .new-posts-top {
        font-size: 16px;
    }

    .new-posts-top::after {
        margin: 8px auto 20px;
    }

    .aside-item-mailing {
        margin-top: 40px;
    }

    .mailing-top {
        font-size: 16px;
    }

    .mailing-top::after {
        margin: 8px auto 20px;
    }

    .aside-item-tags {
        margin-top: 40px;
    }

    .tags-top {
        font-size: 16px;
    }

    .tags-top::after {
        margin: 8px auto 20px;
    }

    .aside-item-themes {
        margin-top: 40px;
    }

    .themes-top {
        font-size: 16px;
    }

    .themes-top::after {
        margin: 8px auto 45px;
    }
  
    .craft-wrapper {
        margin: 30px auto 0px;
    }

    .craft-cards {
        margin-top: 30px;
    }

    .craft-card-wrapper {
        align-items: center;
        margin-bottom: 55px;
    }

    .craft-title {
        font-size: 16px;
    }
  
    .craft-card {
        width: 100%;
        margin-top: -12px;
        padding-top: 25px;
    }
  
    .craft-card-title {
        font-size: 17px;
    }

    .footer {
        margin: 15px auto 0;
    }

    .footer-address {
        background-color: #f4f7f6;
        height: 80px;
        padding: 30px 0;
        margin-bottom: 45px;
    }
  
    .copyright {
      margin: 45px auto 45px;
    }
}